<% if !(browser.iphone? && browser.version == "0") %>
<%= render partial: "shared/header", locals: {title: "Resend confirmation instructions"} %>

<div class="container">

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label :email %>
  	<%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="form-group">
  	<%= f.submit "Resend confirmation instructions" %>
  </div>
  
  <% end %>

  <%= render "devise/shared/links" %>

</div>
