<%= form_tag '/karnevalister/search_filter', :method => :get do %>
  <div class="form-group">
    <%= label_tag :q, 'Sök:' %>
    <%= text_field_tag :q, nil, :placeholder => 'Namn, personnummer, e-post' %>
  </div>
  <div class="form-group">
    <%= label_tag :tilldelad_sektion, 'Filtrera på tilldelad sektion:' %>
    <%= select_tag :tilldelad_sektion, options_for_select([['Alla', 'all'], ['Ej tilldelad', 'null']])+options_from_collection_for_select(Sektion.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= label_tag :stjarnmarkerad_sektion, 'Filtrera på stjärnmarkerad sektion:' %>
    <%= select_tag :stjarnmarkerad_sektion, options_for_select([['Alla', 'all'], ['Ej valt', 'null']])+options_from_collection_for_select(Sektion.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= label_tag :stjarnmarkerad_funktion, 'Filtrera på stjärnmarkerad funktion:' %>
    <%= select_tag :stjarnmarkerad_funktion, options_for_select([['Alla', 'all'], ['Ej valt', 'null']])+options_from_collection_for_select(Intresse.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Sök' %>
  </div>
<% end %>
