<div class="header">
  <div class="container">
    <h1>Karnevalistlisteregistret</h1>
  </div>
</div>
<div class="container">
	<div class="logo">
		<img alt="" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Dags att registrera en karnevalist.</strong> Personen är för tillfället</p>

		<div style="margin: 0.25em 0;">
			<div class="progressbar">
				<div class="progress" style="width: 1%;"></div>
			</div>
			<div class="progress-percent">1 %</div>
		</div>
		<p>karnevalist.</p>
	</div>
	<%= form_for @karnevalist, url: {action: "checkout_paper_post"}, :method => @method do |f| %>
	<h2>Karnevalistens uppgifter</h2>

	<div class="form-group">
		<%= f.label :id, 'ID' %>
		<%= f.text_field :id, :disabled => true %>
	</div>

    <div class="form-group">
      <%= f.label :email, 'Email' %>
      
      <%= f.text_field :email, :autocorrect => :off, :autocapitalize => :none, :required => true, :type => "email" %>
    </div>
    
    <div class="form-group">
        <div>
            <%= f.label :foto %>
            <%= f.file_field :foto %>
        </div>
    </div>
    
    <div class="form-controls">
        <%= f.hidden_field :avklarat_steg, :value => 3 %>
    </div>

	<div class="form-controls">
	  <%= submit_tag "Spara" %>
	</div>
	<% end %>
</div>
