<%= render partial: "shared/header", locals: {title: "Karnevalistkollen"} %>
<%= form_tag check_karnevalister_path, :method => :get do %>
  <div class=form-group>
    <%= label_tag :q, 'Personnummer eller karnevalist-id' %>
    <%= text_field_tag :q, @q %>
    <%= submit_tag 'Kolla' %>
  </div>
<% end %>

<% if @q %>
  <% if @karnevalist.present? && @karnevalist.tilldelade_sektioner.present? %>
    <div class='check-success check-response'>
      <p><%= @q %>: Karnevalist!</p>
      <% if false %>
        <p>
          (<%= spell_out_list @karnevalist.tilldelade_sektioner.map &:name %>)
        </p>
      <% end %>
    </div>
  <% else %>
    <div class='check-fail check-response'>
      <p><%= @q %>: Ej karnevalist</p>
    </div>
  <% end %>
<% end %>
