<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>

<div class="white-container col-xs-12" id="karnevalistan">
    <div class="info_box">
    <% if !@id.blank? %>
        <p>Karnevalist sparad med <strong>ID <%= @id %></strong>.</p>
    <% elsif flash[:fuckedup] %>
        <p><%= flash[:fuckedup] %></p>
    <% end %>
    <% if flash[:onlynotice] %>
        <p><%= flash[:onlynotice] %></p>
    <% end %>
    </div>
	<h2>Utcheckning av karnevalist</h2>
  <input type="text" id="camera-nbr" placeholder="Kamerans IP-adress" />
  <script type="text/javascript">
    $(function(){
      $('#camera-nbr').val($.cookie('camera-nbr'));
      $('#camera-nbr').on('input', function(e){
        $.cookie('camera-nbr', $('#camera-nbr').val());
      });
    });
  </script>

    <h3>Pappersansökan</h3>
    <button class="green">
      <%= link_to "Formulär - Pappersansökan", {controller: "karnevalister", action: "checkout_paper"}, data: {no_turbolink: true} %>
    </button>
    <h3>Digital ansökan (Android/iPhone)</h3>
    <%= render 'search_form' %>
    <% if !@karnevalister.blank? %>
    <ul>
        <% @karnevalister.each do |k| %>
            <li><%= link_to "#{k.efternamn}, #{k.fornamn} (#{k.personnummer})", {controller: "karnevalister", action: "checkout_digital", id: k}, data: {no_turbolink: true} %>
            </a>
            </li>
        <% end %>
    </ul>
    <% end %>
</div>
