<%= render partial: "shared/header", locals: {title: "Karnevalistkollen"} %>
<div class="white-container col-xs-12">
  <%= form_tag check_karnevalister_path, :method => :get do %>
    <div class=form-group>
      <%= label_tag :q, 'Personnummer eller karnevalist-id' %>
      <%= text_field_tag :q, @q %>
      <%= submit_tag 'Kolla', :class => "fill green" %>
    </div>
  <% end %>

  <% if @q %>
    <% if @karnevalist.present? && @karnevalist.tilldelade_sektioner.present? %>
      <div class='fill green block'>
        <%= @q %>: Karnevalist!
        <% if false %>
          <p>
            (<%= spell_out_list @karnevalist.tilldelade_sektioner.map &:name %>)
          </p>
        <% end %>
      </div>
    <% else %>
      <div class='fill red block'>
        <%= @q %>: Ej karnevalist
      </div>
    <% end %>
  <% end %>
</div>
