<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>

<div class="container" id="content">
	<div class="logo">
		<img alt="" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Dags att registrera en karnevalist.</strong></p>
	</div>
    <% if !@id.blank? %>
    <div class="info_box">
        <p>Karnevalist sparad med <strong>ID <%= @id %></strong>.</p>
    </div>
    <% end %>
	<h2>Utcheckning av karnevalist</h2>
  <input type="text" id="camera-nbr" />
  <script type="text/javascript">
    $(function(){
      $('#camera-nbr').val($.cookie('camera-nbr'));
      $('#camera-nbr').on('input', function(e){
        $.cookie('camera-nbr', $('#camera-nbr').val());
      });
    });
  </script>

    <h3>Pappersansökan</h3>
    <%= link_to "Formulär - Pappersansökan", controller: "karnevalister", action: "checkout_paper" %>
    <h3>Digital ansökan (Android/iPhone)</h3>
    <%= render 'search_form' %>
    <% if !@karnevalister.blank? %>
    <ul>
        <% @karnevalister.each do |k| %>
            <li><%= link_to "#{k.efternamn}, #{k.fornamn} (#{k.personnummer})", controller: "karnevalister", action: "checkout_digital", id: k %>
            </a>
            </li>
        <% end %>
    </ul>
    <% end %>
</div>
