<div id="left" class="col-md-8">
<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>

<div class="container" id="content">
	<%= render partial: "shared/logo", locals: {percent: "95", text: "Nu är det dags för utcheckning!"} %>
    <%= form_for @karnevalist, url: {action: "checkout_paper_post"}, :method => @method,
    							:html => { :class => 'validate' } do |f| %>
	<h2>Karnevalistens uppgifter</h2>

  <div class="form-group">
    <%= f.label :email, 'Email' %>

    <%= f.text_field :email, :autocorrect => :off, :autocapitalize => :none, :required => true, :type => "email" %>
  </div>

  <%= render partial: "shared/utcheckning", locals: {f: f} %>

	<div class="form-controls">
	  <%= submit_tag "Spara" %>
	</div>
	<% end %>
</div>
</div>
