<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>
<% content_for :head do %>
  <%= javascript_include_tag :camera %>
<% end %>

<div class="container" id="content">
	<%= render partial: "shared/logo", locals: {percent: "95", text: "Nu är det dags för utcheckning!"} %>
    <%= form_for @karnevalist, url: {action: "checkout_paper_post"}, :method => @method do |f| %>
	<h2>Karnevalistens uppgifter</h2>

	<div class="form-group">
		<%= f.label :id, 'ID' %>
		<%= f.text_field :id, :disabled => true %>
	</div>

    <div class="form-group">
      <%= f.label :email, 'Email' %>

      <%= f.text_field :email, :autocorrect => :off, :autocapitalize => :none, :required => true, :type => "email" %>
    </div>

    <div class="form-group">
      <div style="display: none;">
          <%= f.hidden_field :image_data %>
      </div>
      <div>
        <%= f.label :foto %>
        <div id="camera-placeholder"></div>
        <script type="text/javascript">
          $(document).ready(function(){
            var camera_nbr = $.cookie('camera-nbr') || '90';
            var camera = new Camera("http://192.168.0." + camera_nbr + "/");
            $("#camera-placeholder").html(camera.view());
          });
        </script>
      </div>
    </div>

	<div class="form-group">
		<div>
			<%= f.check_box :medlem_af %>
			<%= f.label :medlem_af, 'Jag är medlem i AF' %>
		</div>
		<div>
			<%= f.check_box :medlem_kar %>
			<%= f.label :medlem_kar, 'Jag är medlem i min kår' %>
		</div>
		<div>
			<%= f.check_box :medlem_nation %>
			<%= f.label :medlem_nation, 'Jag är medlem i en nation' %>
		</div>
		<div>
			<%= f.check_box :karneveljsbiljett %>
			<%= f.label :karneveljsbiljett, 'Jag har en biljett till karneveljen' %>
		</div>
	</div>

	<div class="form-controls">
	  <%= submit_tag "Spara" %>
	</div>
	<% end %>
</div>
