<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>

<div class="container" id="content">
	<%= render 'search_form' %>

	<%= form_for @karnevalist, :method => @method do |f| %>
	
	<%= render partial: "shared/step1", locals: {f: f} %>
	<%= render partial: "shared/step3", locals: {f: f} %>
	<%= render partial: "shared/utcheckning", locals: {f: f} %>

	<div class="form-controls">
		<%= f.submit'Spara' %>
	</div>
	<% end %>
</div>
