<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>
<% disabled = cannot? :update, @karnevalist %>
<div class="container" id="content">
  <%= render 'search_form' %>

  <%= form_for @karnevalist, :url => { :action => 'update' }, :method => @method,
           :html => { :class => 'validate' } do |f| %>

    <h2>
      <%= @karnevalist.to_s %>
    </h2>

    <% if @karnevalist.errors.any? %>
      <h3>
        Formuläret innehåller fel, inget sparades.
      </h3>
      <% @karnevalist.errors.full_messages.each do |msg| %>
        <div class="error-message"><%= msg %></div>
      <% end %>
    <% end %>

    <div class=form-group>
      <%= f.label :tilldelad_sektion %>
      <div>
        <%= f.select(:tilldelad_sektion, Sektion.all.collect{ |s| [s.name, s.id] },
                     {}, { :disabled => !can?(:change_sektion, @karnevalist)}) %>
      </div>
    </div>

    <%= render :partial => 'shared/personupg', :locals => {:f => f } %>

    <%= image_tag(@karnevalist.foto_url.to_s, :class => @karnevalist.foto_url.present? ? 'photo' : nil) %>
    <div class="form-group">
      <%= f.label :foto, 'Ladda upp ny bild' %>
      <%= f.file_field :foto %>
      <%= f.hidden_field :foto_cache %>
    </div>

    <div class="form-controls">
      <%= f.submit'Spara' %>
    </div>
  <% end %>
</div>
