<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>
<% disabled = cannot? :update, @karnevalist %>
<div class="white-container col-xs-12" id="content">
  <%= render 'search_form' %>

  <%= form_for @karnevalist, :url => { :action => 'update' }, :method => @method,
           :html => { :class => 'validate check-pul' } do |f| %>

    <h1>
      <%= @karnevalist.to_s %>
    </h1>

    <% if @karnevalist.errors.any? %>
      <h3>
        Formuläret innehåller fel, inget sparades.
      </h3>
      <% @karnevalist.errors.full_messages.each do |msg| %>
        <div class="error-message"><%= msg %></div>
      <% end %>
    <% end %>

    <% if can? :manage, Role %>
      <%= link_to 'Administrera accesser', karnevalist_roles_path(@karnevalist), :class => "fill blue button" %>
    <% end %>

    <% if can? :destroy, @karnevalist %>
      <div class='form-group confirm-destroy'>
        <%= link_to "Ta bort #{@karnevalist.name}",
                    @karnevalist, :method => :delete, :confirm => "Är du helt säker på att du vill ta bort #{@karnevalist.fornamn}?\nDETTA GÅR INTE ATT ÅNGRA!", :class => 'fill red button' %>
      </div>
    <% end %>

    <div class=form-group>
      <%= f.label :tilldelad_sektion, 'Primär Sektion' %>
      <div>
        <%= f.select(:tilldelad_sektion, Sektion.all.collect{ |s| [s.name, s.id] },
                     {:include_blank => 'Ingen'},
                      :disabled => !can?(:change_sektion, @karnevalist)) %>
      </div>
    </div>

    <div class=form-group>
      <%= f.label :tilldelad_sektion2, 'Sekundär Sektion' %>
      <div>
        <%= f.select(:tilldelad_sektion2, Sektion.all.collect{ |s| [s.name, s.id] },
                     {:include_blank => 'Ingen'},
                      :disabled => !can?(:change_sektion, @karnevalist)) %>
      </div>
    </div>

    <%= render :partial => 'shared/personupg', :locals => {:f => f } %>

    <%= image_tag(@karnevalist.foto_url.to_s, :class => @karnevalist.foto_url.present? ? 'photo' : nil) %>
    <div class="form-group">
      <%= f.label :foto, 'Ladda upp ny bild' %>
      <%= f.file_field :foto %>
      <%= f.hidden_field :foto_cache %>
    </div>

    <div class="form-controls">
      <%= f.submit'Spara' %>
    </div>
  <% end %>
</div>
