<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<%= render partial: "shared/header", locals: {title: "Karnevalistan"} %>

<div class="container" id="content">
  <%= render 'search_form' %>

  <% if current_user.is? :sektionsadmin %>
    <% current_user.sektioner.each do |s| %>
      <%= link_to "Exportera sektion", controller: "sektioner", action: "export", id: s %>
    <% end %>
  <% end %>

  <% if !@karnevalister.blank? %>
  <ul>
    <% @karnevalister.each do |k| %>
      <li>
        <a href=<%= url_for k %>>
          <%= "#{k.efternamn}, #{k.fornamn} (#{k.personnummer})" %>
        </a>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

