<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<%= render partial: "shared/header", locals: {title: "Karnevalistlisteregistret"} %>

<div class="container">
  <%= render 'search_form' %>

  <ul>
    <% @karnevalister.each do |k| %>
      <li>
        <a href=<%= url_for k %>>
          <%= "#{k.efternamn}, #{k.fornamn} (#{k.personnummer})" %>
        </a>
      </li>
    <% end %>
  </ul>
</div>

