<%= render partial: "shared/header", locals: {title: "Karnevalistan"} %>

<div class="white-container col-xs-12">
  <%= render 'search_form' %>
</div>
<%= render partial: "shared/header", locals: {title: "Resultat"} %>
<div class="white-container col-xs-12" id="karnevalistan">
  <% if !@karnevalister.blank? %>
    <ul>
      <% @karnevalister.each do |k| %>
        <li>
          <a href=<%= url_for k %> class="fill button left">
          	<%= "#{k.name} " %>
          	<span class="personnummer"><%= k.personnummer %></span>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
