<%= render partial: "shared/header", locals: {title: "Registrering"} %>

<div class="container" id="registration">
  <%= render partial: "shared/logo", locals: {percent: "1", text: "Vi behöver bara veta vem du är."} %>

  <%= form_for @karnevalist, :method => @method,
                            :html => { :class => 'validate' } do |f| %>

  <%= render partial: "shared/step1", locals: {f: f, checked: nil} %>
  <%= render partial: "shared/step3", locals: {f: f} %>

  <%= content_tag(:div, "", :id => 'hr') %>

  <div class="form-controls">
    <%= f.submit 'Spara', :class => "fill green button" %>
  </div>
  <% end %>
</div>
