<%= render partial: "shared/header", locals: {title: "Mina uppgifter"} %>

<div class="white-container col-xs-12" id="registration">

  <% if not @karnevalist.utcheckad %>
    <%= render partial: "shared/logo", locals: {percent: "86", text: "Vi behöver en bild på dig. Det fixar du genom att besöka expen på Karnevalscentralen, Tornavägen 9B."} %>
  <% else %>
    <% if @karnevalist.sektion.nil? %>
      <%= render partial: "shared/logo", locals: {percent: "99", text: "Vi har nu fått all information som behövs om dig. Nästa steg är att du ska bli tilldelad en sektion."} %>
    <% end %>
    <%= image_tag(@karnevalist.foto_url.to_s, :class => @karnevalist.foto_url.present? ? 'photo' : nil) %>
  <% end %>
</div>
<div class="white-container col-xs-12" id="content">
  <p><strong>Tilldelad sektion: </strong><%= @karnevalist.tilldelad_sektion %><%= @karnevalist.tilldelad_sektion if !@karnevalist.tilldelad_sektion.blank? %></p>
  <p><strong>Namn: </strong><%= "#{@karnevalist.name} " %></p>
  <p><strong>Personnummer: </strong><%= @karnevalist.personnummer %></p>
  <p><strong>Adress: </strong><%= "#{@karnevalist.gatuadress}, #{@karnevalist.postnr} #{@karnevalist.postort}" %></p>
  <p><strong>E-post: </strong><%= @karnevalist.email %></p>
  <p><strong>Telefonnummer: </strong><%= @karnevalist.telnr %></p>

  <% if not @karnevalist.utcheckad %>
  <%= button_to "Redigera mina uppgifter", {controller: "karnevalister", action: "step3"}, {method: :get} %>
  <% end %>
</div>
