<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<%= render partial: "shared/header", locals: {title: "Registrering"} %>

<div class="container">
	
	<%= render partial: "shared/logo", locals: {percent: "1", text: "Vi behöver bara veta vem du är."} %>

	<%= form_for @karnevalist, url: {action: "step1_post"}, :method => @method do |f| %>
	
	<%= render partial: "shared/step1", locals: {f: f} %>

	<div class="form-controls">
		<%= f.submit'Spara' %>
	</div>

	<% end %>
</div>