<%= render partial: "shared/header", locals: {title: "Registrering"} %>

<div class="container" id="content">

  <% if @karnevalist.errors.any? %>
    <% @karnevalist.errors.full_messages.each do |msg| %>
      <div class="error-message"><%= msg %></div>
    <% end %>
  <% end %>

	<%= render partial: "shared/logo", locals: {percent: "1", text: "Vi behöver bara veta vem du är."} %>

	<%= form_for @karnevalist, url: {action: "step1_post"}, :method => @method,
								html: { :class => 'validate' } do |f| %>

	<%= render partial: "shared/step1", locals: {f: f, checked: nil} %>

	<div class="form-controls">
		<%= f.submit'Spara' %>
	</div>

	<% end %>
</div>
