<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<div class="header">
	<div class="container">
		<h1>Karnevalistlisteregistret</h1>
    <%= browser.name %>
	</div>
</div>
<div class="container">
	<div class="logo">
		<img alt="" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Du vill bli karnevalist.</strong> Du är för tillfället</p>

		<div style="margin: 0.25em 0;">
			<div class="progressbar">
				<div class="progress" style="width: 1%;"></div>
			</div>
			<div class="progress-percent">1 %</div>
		</div>
		<p>karnevalist. Vi behöver bara veta vem du är.</p>
	</div>
	<%= form_for @karnevalist, url: {action: "step1_post"}, :method => @method do |f| %>
	<h2>Dina uppgifter</h2>

	<div class="form-group">
		<%= f.label :personnummer, 'Personnummer' %>
		<%= f.text_field :personnummer, { :pattern => '[0-9]*', :placeholder => "ÅÅMMDDNNNN" } %>
	</div>

	<div class="form-group">
		<%= f.label nil, 'Namn' %>

		<%= f.text_field :fornamn, :placeholder => "Förnamn" %>
		<%= f.text_field :efternamn, :placeholder => "Efternamn" %>
	</div>

	<div class="form-group">
		<%= f.label nil, 'Kön' %>

		<% Kon.order('id desc').all.each do |k| %>
		<div>
			<%= f.radio_button :kon_id, k.id, :class=>'kon_radio'  %>
			<%= f.label "kon_id_#{k.id}", k.name, :class=>'kon_radio' %>
		</div>
		<% end %>
	</div>

	<div class="form-group">
		<%= f.label nil, 'Adress' %>

		<%= f.text_field :gatuadress, :placeholder => "Gatuadress" %>

		<%= f.text_field :postnr, :placeholder => "Postnummer" %>
		<%= f.text_field :postort, :placeholder => "Ort" %>
	</div>

	<div class="form-group">
		<%= f.label :email, 'Email' %>
    <%= f.text_field :email, :autocorrect => :off, :autocapitalize => :none, :required => true, :type => "email" %>
	</div>

	<div class="form-group">
		<%= f.label :telnr, 'Telefonnummer' %>

		<%= f.telephone_field :telnr %>
	</div>

	<div class="form-group">
		<%= f.label :nation_id, 'Studentnation' %>
		<div>
			<%= f.select :nation_id, Nation.all.collect{ |n| [n.name, n.id] } %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :matpref, 'Matpreferenser' %>
		<%= f.text_field :matpref %>
	</div>

	<div class="form-group">
		<%= f.label :storlek_id, 'Klädstorlek' %>
		<div>
			<%= f.select :storlek_id, Storlek.all.collect{ |s| [s.name, s.id] } %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :terminer, 'Antal studieterminer i Lund' %>
		<%= f.number_field :terminer, :pattern => '[0-9]*', :min => 0 %>
	</div>

	<div class="form-group">
		<%= f.label :korkort_id, 'Körkortsbehörighet' %>
		<div>
			<%= f.select :korkort_id, Korkort.all.collect{ |k| [k.name, k.id] } %>
		</div>
	</div>

	<h2>Tidigare engagemang</h2>

	<h3>Jag har tidigare engagerat mig i</h3>
	<div class="form-group">
		<%= f.label :engagerad_kar, 'En studentkår, vilken och hur?' %>

		<%= f.text_field :engagerad_kar %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_nation, 'En nation, vilken och hur?' %>

		<%= f.text_field :engagerad_nation %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_studentikos, 'Annan studentikos förening?' %>

		<%= f.text_field :engagerad_studentikos %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_etc, 'Annan förening?' %>

		<%= f.text_field :engagerad_etc %>
	</div>

	<h3>Jag har tidigare varit aktiv inom kår/nation/förening som</h3>
	<div class="form-group">
		<div>
			<%= f.check_box :jobbat_heltid %>
			<%= f.label :jobbat_heltid, 'Heltidare' %>
		</div>
		<div>
			<%= f.check_box :jobbat_styrelse %>
			<%= f.label :jobbat_styrelse, 'Styrelseledamot' %>
		</div>
		<div>
			<%= f.check_box :jobbat_forman %>
			<%= f.label :jobbat_forman, 'Förman eller utskottsordförande' %>
		</div>
		<div>
			<%= f.check_box :jobbat_aktiv %>
			<%= f.label :jobbat_aktiv, 'Jobbare' %>
		</div>

		<h3>Lundakarnevalen</h3>
		<div class="form-group">
			<%= check_box :karnevalist, :karnevalist_2010 %>
			<%= f.label :karnevalist_2010,
			'Jag var karnevalist under Lundakarnevalen 2010' %>
		</div>

	    <div class=form-group>
	      <%= check_box_tag nil, nil, false, :id => 'pul', :class => 'must-accept' %>
	      <%= label_tag 'pul', 'Jag accepterar att mina personuppgifter lagras enligt PUL' %>
	    </div>

		<div class="form-controls">
			<%= f.submit'Spara' %>
		</div>
	</div>
	<% end %>
