<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<%= render partial: "shared/header", locals: {title: "Registrering"} %>

<div class="container" id="content">

  <% if not @karnevalist.utcheckad %>
  <%= render partial: "shared/logo", locals: {percent: "86", text: "Vi behöver bara en bild på dig. Den tar du längst fram vid disken inuti AF-borgen."} %>

  <% end %>

  <%= image_tag(@karnevalist.foto_url.to_s, :class => @karnevalist.foto_url.present? ? 'photo' : nil) %>

  <div class="message">
    <h2>Dina uppgifter</h2>
    <p><strong>Namn: </strong><%= @karnevalist.fornamn + " " + @karnevalist.efternamn %></p>
    <p><strong>E-post: </strong><%= @karnevalist.email %></p>
    <p><strong>Personnummer: </strong><%= @karnevalist.personnummer %></p>
  </div>

  <% if not @karnevalist.utcheckad %>
  <%= button_to "Redigera mina uppgifter", {controller: "karnevalister", action: "step3"}, {method: :get} %>
  <% end %>
</div>
