<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<%= render partial: "shared/header", locals: {title: "Registrering"} %>

<div class="container">

	<%= render partial: "shared/logo", locals: {percent: "95", text: "Vi behöver bara en bild på dig. Den tar du längst fram vid disken inuti AF-borgen."} %>

	<div class="message">
        <h2>Dina uppgifter</h2>
        <p><strong>Namn: </strong><%= @karnevalist.fornamn + " " + @karnevalist.efternamn %></p>
        <p><strong>E-post: </strong><%= @karnevalist.email %></p>
        <p><strong>Personnummer: </strong><%= @karnevalist.personnummer %></p>
	</div>
    <%= button_to "Redigera mina uppgifter", {controller: "karnevalister", action: "step3"}, {method: :get} %>
</div>
