<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<%= render partial: "shared/header", locals: {title: "Registrering"} %>

<div class="container" id="content">

	<%= render partial: "shared/logo", locals: {percent: "25", text: "Vi behöver ett lösenord. Detta får du inuti AF-borgen. Köa lugnt!"} %>

	<%= form_tag enter_pwd_karnevalist_path(@karnevalist) do %>
		<div class="form-group">
			<%= label_tag "password", "Lösenord"%>
			<%= password_field_tag "password" %>
		</div>
		<div class="form-controls">
			<%= submit_tag "Spara" %>
		</div>
	<% end %>

</div>
