<% content_for :head do %>
<%= stylesheet_link_tag    :karnevalister, :media => :all %>
<% end %>

<% if !(browser.iphone? && browser.version == "0") %>
<div class="header">
	<div class="container">
		<h1>Registrering</h1>
	</div>
</div>
<% end %>

<div class="container">
	<div class="logo">
		<img alt="" src="/images/RegistreringRobotTitle@2x.png" />
		<p><strong>Du vill bli karnevalist.</strong> Du är för tillfället</p>
		<div style="margin: 0.25em 0;">
			<div class="progressbar">
				<div class="progress" style="width: 95%;"></div>
			</div>
			<div class="progress-percent">95 %</div>
		</div>
		<p>karnevalist. Vi behöver bara en bild på dig.</p>
        <p>Den tar du längst fram vid <b>disken inuti AF-borgen</b>
	</div>
	<div class="message">
        <h2>Dina uppgifter</h2>
        <p><strong>Namn: </strong><%= @karnevalist.fornamn + " " + @karnevalist.efternamn %></p>
        <p><strong>E-post: </strong><%= @karnevalist.email %></p>
        <p><strong>Personnummer: </strong><%= @karnevalist.personnummer %></p>
	</div>
    <%= button_to "Redigera mina uppgifter", {controller: "karnevalister", action: "step3"}, {method: :get} %>
</div>
