<div class="white-container">
  <%= form_for @listing do |f| %>
    <fieldset>
      <div>
        <%= f.label :event_id, 'Till vilken händelse?' %><br>
        <%= f.collection_select :event_id, @events,
              :id, :to_s, :selected => @selected %>
      </div>

      <div>
        <%= f.label :price, "Pris i kr (endast siffror i detta fältet)" %>
        <%= f.text_field :price %>
      </div>

      <div>
        <strong>Varför är du här? Vill du:</strong>
        <%= f.label :listing_type, 'A) Byta', :value => 'byta' %>
        <%= f.radio_button :listing_type, 'byta' %>
        <%= f.label :listing_type, 'B) Sälja', :value => 'sälja' %>
        <%= f.radio_button :listing_type, 'sälja' %>
        <%= f.label :listing_type, 'C) Köpa', :value => 'köpa' %>
        <%= f.radio_button :listing_type, 'köpa' %>
        <strong>biljett(er)?</strong>
      </div>

      <div>
        <%= f.label :description, 'Annonstext' %>
        <p>
          Här borde du skriva saker som: vilken dag/tid biljetten är för och din favoritfärg.
          Köpare kan maila till dig genom karneblocket, vill du lägga ut ditt telefonnummer gör du det på eget ansvar.
        </p>
        <%= f.text_area :description %>
      </div>
    </fieldset>

    <%= f.submit 'Spara annons' %>
  <% end %>
</div>
