<%= render 'shared/header', :title => "Karneblocket: #{@listing.event.title}" %>

<% if can? :modify, @listing %>
  <%= link_to 'Ändra annonsen', edit_ticket_listing_path(@listing) %>
  <%= link_to 'Ta bort annonsen', @listing, :method => :delete %>
<% end %>

<dl>
  <dt>Händelse</dt>
  <dd><%= @listing.event.title %>, den <%= @listing.event.date %></dd>

  <dt>Säljare</dt>
  <dd><%= @listing.seller.fornamn %></dd>

  <dt>Pris</dt>
  <dd><%= number_to_currency @listing.price %></dd>

  <% if @listing.description.present? %>
    <dt><%= @listing.seller.fornamn %> säger:</dt>
    <dd><%= render_markdown @listing.description %></dd>
  <% end %>
</dl>

<h2>Kontakta <%= @listing.seller.fornamn %></h2>

Säljaren kommer att kunna se din email. Om du vill ge säljaren ditt 
telefonnummer så kan du skriva det i meddelandet.

<%= form_tag do %>
  <%= label_tag :message, 'Meddelande' %>
  <%= text_area_tag :message %>
  <%= submit_tag 'Skicka' %>
<% end %>
