<%= render 'shared/header', :title => 'Bokföring och Rapportering' %>
<div class="white-container col-xs-12">
  <h5>Går det enligt estimerad prognos?</h5>
  <p>
  <%= @bookkeeping.question_1 %>
</div>
<div class="white-container col-xs-12">
  <h5>Har ni fått några oväntade kostnader?</h5>
  <p>
  <%= @bookkeeping.question_2 %>
</div>
<div class="white-container col-xs-12">
  <h5>Har något löst sig på ett smidigare sätt än ni trodde?</h5>
  <p>
  <%= @bookkeeping.question_3 %>
</div>
<div class="white-container col-xs-12">
  <h5>Hur glada är ni?</h5>
  <p>
  <%= "På en skala 1-5 är vi: #{@bookkeeping.question_4}" %>
</div>