<div id="left" class="col-md-8">
<%= render partial: "shared/header", locals: {title: "Push-meddelanden"} %>

<div class="container" id="content">
  <%= form_for(@notification) do |f| %>
    <h2>Nytt push-meddelande</h2>
    <% if @notification.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @notification.errors.each do |field, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_user.is? :admin and current_user.karnevalist? %>
      <div class="form-group">
        <%= f.label :recipient_id, "Mottagare" %>
        <%= f.select :recipient_id, options_for_select([['Alla', 0]])+options_from_collection_for_select(current_user.karnevalist.tilldelade_sektioner, :id, :name) %>
      </div>
    <% elsif current_user.is? :sektionsadmin and current_user.karnevalist? %>
        <%= f.label :recipient_id, "Mottagare" %>
        <%= f.select :recipient_id, options_from_collection_for_select(current_user.karnevalist.tilldelade_sektioner, :id, :name) %>
    <% end %>

    <div class="form-group">
      <%= f.label :title, "Rubrik" %>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :message, "Meddelande" %>
      <%= f.text_area :message, :rows => 6, :cols => 40 %>
    </div>

    <div class="form-controls">
      <%= f.submit "Skicka" %>
    </div>
  <% end %>
</div>
</div>
