<% content_for :head do %>
<%= stylesheet_link_tag :notifications, :media => :all %>
<% end %>

<% if !(browser.iphone? && browser.version == "0") %>
<div class="header">
	<div class="container">
		<h1>Push-meddelanden</h1>
	</div>
</div>
<% end %>

<div class="container">
	<div class="message">
	    <h2><%= @notification.title %></h2>
	    <p><%= @notification.message %></p>
	    
	    <p class="message-date">Skickat <%= @notification.created_at.strftime("%Y-%m-%d %H:%M") %></p>
	</div>
	<a href="<%= notifications_path %>" ><div class="button">
		Tillbaka
	</div></a>
</div>


