<%= render partial: "shared/header", locals: {title: "Redigera"} %>

<div class="white-container col-xs-12">
  <%= form_for @sektion do |f| %>
    <% if @sektion.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @sektion.errors.each do |field, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form_group">
      <%= f.label "Text" %>
      <%= f.text_area edit_page, placeholder: "Skriv vacker text för din sektion här..." %>
    </div>

    <%= render partial: "shared/markdown_notice" %>

    <div class="form-controls">
      <%= f.submit "Klar", class: "green button" %>
    </div>
  <% end %>
</div>
