<%= render partial: "shared/header", locals: {title: "Sektionsfiler"} %>

<%= link_to "Ladda upp en ny fil (bild eller pdf)", new_image_path(:sektion_id => @sektion), :class => "button green" if current_user.can? :manage, :image %>

<div class="row">
  <% @images.each do |image| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <h3><%= link_to image.name, image %></h3>
        <%= link_to image_tag(image.image_url.to_s), image unless image.pdf? %>
        <%= link_to image_tag(image.image_url(:pdf_thumb).to_s), image.image_url.to_s if image.pdf? %>
      </div>
    </div>
  <% end %>
</div>
