<%= link_to "Tillbaka", root_url, :class => "green button col-xs-2 col-md-offset-2" %>
<%= render 'sektion_image' %>
<% if (current_user.is? :sektionsadmin) || (current_user.is? :info) %>
<div class="white-container col-xs-12">
  <% if (current_user.is? :sektionsadmin) %>
    <%= link_to 'Exportera personuppgifter som Excel-ark', { :action => :export }, {:class => "green button"}%>
    <%= link_to 'Medlemskoll', { :action => :kollamedlem }, {:class => "green button", data: {no_turbolink: true}} %>
    <%= link_to 'Aktiva karnevalister', { :action => :aktiva }, {:class => "green button", data: {no_turbolink: true}} %>
  <% end %>
  <% if (current_user.is? :info) %>
    <%= link_to "Redigera sektionsinfo", edit_sektion_path(@sektion), type: "edit", :class => "button" %>
  <% end %>
</div>
<% end %>
  <div class="white-container col-xs-12">
    <%= render_markdown @page_content unless @page_content.blank? %>
  </div>
<% s = current_sektioner %>
<% if can? :edit, s %>
  <%= render partial: "shared/header", locals: {title: "Medlemmar"} %>
  <div class="white-container col-xs-12" id="karnevalistan">
    <ul>
      <% @sektion.members.each do |k| %>
        <li>
          <a href=<%= url_for k %>>
            <%= "#{k.efternamn}, #{k.fornamn} " %>
            <span class="personnummer"><%= k.personnummer %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
