<% content_for :head do %>
  <%= stylesheet_link_tag :posts, :media => :all %>
<% end %>

<div class="row">
    <%= link_to "Tillbaka", root_url, class: "btn btn-small col-xs-2 col-md-offset-2" %>
  <div class="image-container col-xs-4">
    <div class="message-image">
      <%= image_tag("logotyper/#{@sektion.name}.png") %>
    </div>
    <div class="sektion">
      <%= @sektion.name %>
    </div>
  </div>
</div>
<% if (current_user.can? :edit, @sektion) %>
<div class="row">
  <button><%= link_to 'Exportera personuppgifter som Excel-ark', :action => :export %></button>
  <button><%= link_to 'Kolla om dina karnevalister är medlemmar i AF, nation och kår', :action => :kollamedlem %></button>
  <button type="edit"><%= link_to "Redigera sektionsinfo", edit_sektion_path(@sektion)%></button>
</div>
<% end %>
<div class="row">
  <div class="white-container">
    <%= @info_page.html_safe %>
  </div>
</div>
<% s = current_user.karnevalist.sektion %>
<% if can? :edit, s %>
  <div class="row">
    <%= render partial: "shared/header", locals: {title: "Medlemmar"} %>
  </div>
  <div class="row">
    <div class="white-container">
      <% @sektion.members.each do |k| %>
        <li><%= link_to k.to_s, k %></li>
      <% end %>
    </div>
  </div>
<% end %>
