<% disabled = false unless disabled %>
    <%= render :partial => 'shared/personupg', :locals => {:f => f } %>
	<div class="form-group">
		<%= f.label :terminer, 'Antal studieterminer i Lund' %>
		<%= f.number_field :terminer, :pattern => '[0-9]*', :min => 0, :disabled => disabled %>
	</div>

	<h2>Jag har varit engagerad i en:</h2>

	<div class="form-group">
		<%= f.label :engagerad_kar, 'Studentkår, vilken och hur?' %>

		<%= f.text_field :engagerad_kar, :disabled => disabled %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_nation, 'Studentnation, vilken och hur?' %>

		<%= f.text_field :engagerad_nation, :disabled => disabled %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_studentikos, 'Annan studentikos förening?' %>

		<%= f.text_field :engagerad_studentikos, :disabled => disabled %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_etc, 'Annan förening?' %>

		<%= f.text_field :engagerad_etc, :disabled => disabled %>
	</div>

	<h3>Jag har varit aktiv inom kår/nation/förening som</h3>
	<div class="form-group">
		<div>
			<%= f.check_box :jobbat_heltid, :disabled => disabled %>
			<%= f.label :jobbat_heltid, 'Heltidare' %>
		</div>
		<div>
			<%= f.check_box :jobbat_styrelse, :disabled => disabled %>
			<%= f.label :jobbat_styrelse, 'Styrelseledamot' %>
		</div>
		<div>
			<%= f.check_box :jobbat_forman, :disabled => disabled %>
			<%= f.label :jobbat_forman, 'Förman/Utskottsordförande' %>
		</div>
		<div>
			<%= f.check_box :jobbat_aktiv, :disabled => disabled %>
			<%= f.label :jobbat_aktiv, 'Jobbare' %>
		</div>
	</div>

	<h3>Lundakarnevalen</h3>
	<div class="form-group">
		<%= check_box :karnevalist, :karnevalist_2010, :disabled => disabled %>
		<%= f.label :karnevalist_2010,
		'Jag var karnevalist 2010' %>
	</div>

    <div class="form-group">
      <%= check_box_tag nil, nil, false, :id => 'pul', :class => 'must-accept', :required => true, :name => "pul", :checked => (checked), :disabled => disabled %>
      <%= label_tag 'pul', 'Genom detta formulär ger du Lundakarnevalen tillåtelse att använda fotot på dig samt behandla dina personuppgifter i datorsystemet och för egna utskick i enlighet med Personuppgiftslagen (1998:204).' %><span class="required-field"><img src="/images/required-field.png" alt="*"/></span>
    </div>
