<h2>Dina uppgifter</h2>

	<div class="form-group">
		<%= f.label :personnummer, 'Personnummer' %>
		<span class="required-field"><img src="/images/required-field.png" alt="*"/></span>
		<%= f.text_field :personnummer, { :pattern => '[0-9]*', :placeholder => "ÅÅMMDDNNNN", :required => true }  %>
	</div>

	<div class="form-group">
		<h3>Namn <span class="required-field"><img src="/images/required-field.png" alt="*"/></span></h3>
		<%= f.label :fornamn, 'Förnamn', :class => "structural" %>
		<%= f.text_field :fornamn, :placeholder => "Förnamn", :required => true %>
		<%= f.label :efternamn, 'Efternamn', :class => "structural" %>
		<%= f.text_field :efternamn, :placeholder => "Efternamn", :required => true %>
	</div>

	<div class="form-group">
		<h3>Kön <span class="required-field"><img src="/images/required-field.png" alt="*"/></span></h3>

		<div class="radio-group">
			<% Kon.order('id desc').all.each do |k| %>
			<div>
				<%= f.radio_button :kon_id, k.id, :class=>'kon_radio', :required => true  %>
				<%= f.label "kon_id_#{k.id}", k.name, :class=>'kon_radio' %>
			</div>
			<% end %>
		</div>
	</div>

	<div class="form-group">
		<h3>Adress <span class="required-field"><img src="/images/required-field.png" alt="*"/></span></h3>

		<%= f.label :gatuadress, 'Gatuadress', :class => "structural" %>
		<%= f.text_field :gatuadress, :placeholder => "Gatuadress", :required => true %>
		
		<%= f.label :postnr, 'Postnummer', :class => "structural" %>
		<%= f.text_field :postnr, :placeholder => "Postnummer", :required => true %>
		
		<%= f.label :postort, 'Ort', :class => "structural" %>
		<%= f.text_field :postort, :placeholder => "Ort", :required => true %>
	</div>

	<div class="form-group">
		<%= f.label :email, 'E-post' %>
		<span class="required-field"><img src="/images/required-field.png" alt="*"/></span>
    	<%= f.text_field :email, :autocorrect => :off, :autocapitalize => :none, :required => true, :type => "email" %>
	</div>

	<div class="form-group"> <!-- TODO: Check email -->
		<%= f.label :email2, 'E-post igen, tack!' %>
		<span class="required-field"><img src="/images/required-field.png" alt="*"/></span>
    	<%= f.text_field :email, :autocorrect => :off, :autocapitalize => :none, :required => true, :type => "email" %>
	</div>

	<div class="form-group">
		<%= f.label :telnr, 'Telefonnummer' %>
		<span class="required-field"><img src="/images/required-field.png" alt="*"/></span>
		<%= f.telephone_field :telnr, :required => true %>
	</div>

	<div class="form-group">
		<%= f.label :nation_id, 'Studentnation' %>
		<div>
			<%= f.select :nation_id, Nation.all.collect{ |n| [n.name, n.id] } %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :matpref, 'Matpreferenser' %>
		<%= f.text_field :matpref %>
	</div>

	<div class="form-group">
		<%= f.label :storlek_id, 'Tröjstorlek' %>
		<div>
			<%= f.select :storlek_id, Storlek.all.collect{ |s| [s.name, s.id] } %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :terminer, 'Antal studieterminer i Lund' %>
		<%= f.number_field :terminer, :pattern => '[0-9]*', :min => 0 %>
	</div>

	<div class="form-group">
		<%= f.label :korkort_id, 'Körkortsbehörighet' %>
		<div>
			<%= f.select :korkort_id, Korkort.all.collect{ |k| [k.name, k.id] } %>
		</div>
	</div>

	<h2>Jag har varit engagerad i en:</h2>

	<div class="form-group">
		<%= f.label :engagerad_kar, 'Studentkår, vilken och hur?' %>

		<%= f.text_field :engagerad_kar %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_nation, 'Studentnation, vilken och hur?' %>

		<%= f.text_field :engagerad_nation %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_studentikos, 'Annan studentikos förening?' %>

		<%= f.text_field :engagerad_studentikos %>
	</div>
	<div class="form-group">
		<%= f.label :engagerad_etc, 'Annan förening?' %>

		<%= f.text_field :engagerad_etc %>
	</div>

	<h3>Jag har varit aktiv inom kår/nation/förening som</h3>
	<div class="form-group">
		<div>
			<%= f.check_box :jobbat_heltid %>
			<%= f.label :jobbat_heltid, 'Heltidare' %>
		</div>
		<div>
			<%= f.check_box :jobbat_styrelse %>
			<%= f.label :jobbat_styrelse, 'Styrelseledamot' %>
		</div>
		<div>
			<%= f.check_box :jobbat_forman %>
			<%= f.label :jobbat_forman, 'Förman/Utskottsordförande' %>
		</div>
		<div>
			<%= f.check_box :jobbat_aktiv %>
			<%= f.label :jobbat_aktiv, 'Jobbare' %>
		</div>

		<h3>Lundakarnevalen</h3>
		<div class="form-group">
			<%= check_box :karnevalist, :karnevalist_2010 %>
			<%= f.label :karnevalist_2010,
			'Jag var karnevalist 2010' %>
		</div>

	    <div class=form-group>
	      <%= check_box_tag nil, nil, false, :id => 'pul', :class => 'must-accept', :required => true, :name => "pul", :checked => (checked) %>
	      <%= label_tag 'pul', 'Genom detta formulär ger du Lundakarnevalen tillåtelse att använda fotot på dig samt behandla dina personuppgifter i datorsystemet och för egna utskick i enlighet med Personuppgiftslagen (1998:204).' %><span class="required-field"><img src="/images/required-field.png" alt="*"/></span>
	    </div>