<h3>Utcheckning</h3>
<div class="form-group">
  <div>
    <%= f.check_box :medlem_af %>
    <%= f.label :medlem_af, 'Jag 채r medlem i AF' %>
  </div>
  <div>
    <%= f.check_box :medlem_kar %>
    <%= f.label :medlem_kar, 'Jag 채r medlem i min k책r' %>
  </div>
  <div>
    <%= f.check_box :medlem_nation %>
    <%= f.label :medlem_nation, 'Jag 채r medlem i en nation' %>
  </div>
  <div>
    <%= f.check_box :karneveljsbiljett %>
    <%= f.label :karneveljsbiljett, 'Jag har en biljett till karneveljen' %>
  </div>
</div>

<% if @karnevalist.utcheckad %>
  <%= image_tag(@karnevalist.foto_url.to_s, :class => @karnevalist.foto_url.present? ? 'photo' : nil) %>
<% else %>
  <%= render partial: "shared/checkout_foto", locals: {f: f} %>
<% end %>
