<h1>Futuralkarnevalens internweb</h1>

<p><i>
  Du är inloggad som <%= current_user.email %>.
  <%= sign_out_link 'Logga ut?' %>
</i></p>

<br>

<% unless current_user.roles.empty? %>
  <p><b>Du är 
    <%= spell_out_list current_user.roles.map(&:name) %>.
  </b></p>
<% end %>

<h2>Du har följande superkrafter:</h2>

<ul>
  <%# Stuff relating to the current karnevalist %>
  <% if (k = current_user.karnevalist) %>
    <% if can? :edit, k %>
      <li><%= link_to 'Redigera dina egna personuppgifter', k %>
    <% end %>
    <% if can? :read, k.sektion %>
      <li><%= link_to 'Se vilka som är med i din sektion', k.sektion %>
    <% end %>
  <% end %>

  <%# Stuff relating to the app as a whole %>
  <% if can? :read, Karnevalist %>
    <li><%= link_to 'Söka upp karnevalister i registret', Karnevalist %>
  <% end %>
  <% if can? :read, Sektion %>
    <li><%= link_to 'Se listan med alla sektioner', Sektion %>
  <% end %>
  <% if can? :create, Notification %>
    <li><%= link_to 'Skicka ut pushnotiser', new_notification_path %>
  <% end %>
  <% if can? :read, Notification %>
    <li><%= link_to 'Läsa gamla pushnotiser', Notification %>
  <% end %>
</ul>
  
