<div class="white-container col-xs-12">
  <%= form_for @event do |f| %>
    <fieldset>
      <%= f.label :title, 'Rubrik' %>
      <%= f.text_field :title %>

      <%= f.label :date, 'Datum' %>
      <%= f.text_field :date, :data => { :behaviour => 'datepicker' } %>

      <%= f.label :sektion_id, 'Visa för sektion' %>
      <%= f.collection_select :sektion_id, Sektion.all, :id, :name,
                                { :include_blank => '[Visa för alla]' },
                                { :disabled => !current_user.can?(:manage, Event.new) } %>
      <% unless current_user.can? :manage, Event.new %>
        <%= f.hidden_field :sektion_id %>
      <% end %>

      <div>
        <strong>Ska man kunna anmäla sig till händelsen?</strong>
        <%= f.label :attendable, 'Ja', :value => true %>
        <%= f.radio_button :attendable, true %>
        <%= f.label :attendable, 'Nej', :value => false %>
        <%= f.radio_button :attendable, false %>
      </div>

      <div>
        <strong>Säljer ni biljetter till händelsen</strong>
        <%= f.label :tickets, 'Ja', :value => true %>
        <%= f.radio_button :tickets, true %>
        <%= f.label :tickets, 'Nej', :value => false %>
        <%= f.radio_button :tickets, false %>
      </div>

      <%= f.label :description, 'Beskrivning' %>

      <%= f.text_area :description %>
    </fieldset>
    <%= render partial: "shared/markdown_notice" %>
    <%= f.submit 'Spara' %>
  <% end %>
</div>
