<h3>Skapa en order</h3>
<%= form_for [form_prefix, @order] do |f| %>
<% @product_categories.each do |c| %>
<% if (current_user.is? :bestallare_fabriken) %>
  <% products = c.products.where(warehouse_code: @warehouse_code, active: true, product_type: 0).order("name ASC") %>
<% else %>
  <% products = c.products.where(warehouse_code: @warehouse_code, active: true).order("name ASC") %>
<% end %>
<% if !products.blank? %>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
<h4><%= c.name %></h4>
<div class="table-responsive">
<table class="table table-striped table-fixed" id="table">
  <thead>
    <tr>
      <th style="width: 20%;">Mängd</th>
      <th style="width: 43%;">Namn</th>
      <th style="width: 11%;">Enhet</th>
      <th style="width: 15%;">Pris/enhet</th>
      <th style="width: 11%;">I lager</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |p| %>
    <tr>
      <td>
        <%= f.fields_for :order_products do |op| %>
          <%= op.number_field :amount, min: 0, class: "form-control", style: "width: 100%;" %>
          <%= op.hidden_field :product_id, :value => p.id %>
        <% end %>
      </td>
      <td>
         <a data-toggle="modal" href="#product<%= p.id %>"><%= p.name %></a>
<!-- Modal -->
<div class="modal fade" id="product<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-info" id="product<%= p.id %>Label">Produktinfo</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'warehouse/products/show', locals: { p: p } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>
      </td>
      <td><%= p.unit %></td>
      <td><%= number_to_currency(p.sale_price) %></td>
      <td><%= p.stock_balance_not_ordered %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<% end %>
<% end %>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="form-group">
    <%= f.label :comment, "Kommentar" %>
    <%= f.text_area :comment, rows: 5, class: "form-control" %>
  </div>
</div>
</div>
<%= f.submit "Gå vidare", class: "btn btn-primary" %>
<% end %>
