<h3>Skapa en order</h3>
<%= form_for [:warehouse, @order] do |f| %>
<table class="table" id="table">
  <thead>
    <tr>
      <th>Namn</th>
      <th>M채ngd</th>
      <th>Enhet</th>
      <th>Pris/enhet</th>
      <th>I lager</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td> <!-- TODO: Modal link to product -->
      <td>
        <%= f.fields_for :order_products do |op| %>
        <%= op.text_field :amount, class: "form-control", placeholder: "Hur m책nga vill du best채lla?" %>
          <%= op.hidden_field :product_id, :value => p.id %>
        <% end %>
      </td>
      <td><%= p.unit %></td>
      <td><%= p.sale_price %> kr</td>
      <td><%= p.stock_balance_not_ordered %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit "G책 vidare", class: "btn btn-primary" %>
<% end %>
