<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Order <%= @order.id %></h3>
      </div>
      <div class="panel-body">
        <p><strong>Status: </strong> <%= @order.status %></p>
        <p><strong>Beställningsdatum: </strong> <%= @order.order_date.strftime("%Y-%m-%d %H:%M") %></p>
        <p><strong>Hämtdatum: </strong> <%= !@order.delivery_date.blank? ? @order.delivery_date.strftime("%Y-%m-%d %H:%M") : "" %></p>
        <p><strong>Totalpris: </strong> <%= number_to_currency(@order.total_sum) %></p>
        <p><%= link_to "Visa Kvitto", order_path(@order.id, :format => "pdf") %></p>

        <% if current_user.is? :admin || :kassor %>
        <tr>
          <td><%= link_to "Leverera order", root_url, class: "btn btn-success" %></td>
          <td><%= link_to "Delleverera order", root_url, class: "btn btn-default" %></td>
          <td><%= link_to "Makulera order", root_url, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped" id="table">
      <thead>
        <tr>
          <th>Vara</th>
          <th>Mängd</th>
          <th>Styckpris</th>
          <th>Totalpris</th>
        </tr>
      </thead>
      <tbody>
        <% @order.products.each do |p| %>
        <% amount = p.amount(@order.id) %>
        <tr>
          <td><%= p.name %></td>
          <td><%= "#{amount} #{p.unit}" %></td>
          <td><%= number_to_currency(p.sale_price) %></td>
          <td><%= number_to_currency(p.total_price(amount)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
