<h3>Inleverans</h3>
<div class="table-responsive">
  <%= form_for [@incoming_delivery] do |f| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vara</th>
        <th>Streckkod</th>
        <th>Lagerplats</th>
        <th>I lager (obeställd)</th>
        <th>I lager (beställd)</th>
        <th>Ej i lager (beställd)</th>
        <th>Enhet</th>
        <th>Lägg till antal</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
      <% if p.warning_limit.blank? %>
        <tr>
      <% elsif p.stock_balance_not_ordered < p.warning_limit %>
        <tr class="danger">
      <% else %>
        <tr class="success">
      <% end %>
        <td><%= p.name %></td>
        <td><%= p.ean %></td>
        <td><%= p.stock_location %></td>
        <td><%= p.stock_balance_not_ordered %></td>
        <td><%= p.stock_balance_ordered %></td>
        <td><%= p.stock_balance_stand_by %></td>
        <td><%= p.unit %></td>
        <td>
          <%= f.fields_for :incoming_delivery_products do |op| %>
            <%= op.number_field :amount, min: 0, class: "form-control" %>
            <%= op.hidden_field :product_id, :value => p.id %>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :invoice_nbr, "Fakturanummer" %>
        <%= f.text_field :invoice_nbr, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= f.submit "Spara och slutför", class: "btn btn-primary", name: "finished" %>
  <%= f.submit "Spara och fortsätt senare", class: "btn btn-primary", name: "ongoing" %>
  <% end %>
</div>
