<%= link_to "Ny inleverans", new_incoming_delivery_path, class: "btn btn-primary"  %>
<% if !@incoming_deliveries_ongoing.blank? %>
<h2>Pågående inleveranser</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Påbörjad</th>
        <th>Fakturanr</th>
        <th>Påbörjad av</th>
      </tr>
    </thead>
    <tbody>
      <% @incoming_deliveries_ongoing.each do |d| %>
        <% k = Karnevalist.find(d.karnevalister.first.id) %>
        <tr>
          <td><%= link_to d.created_at.strftime("%Y-%m-%d %H:%M"), edit_incoming_delivery_path(d.id) %></td>
          <td><%= d.invoice_nbr %></td>
          <td><%= "#{k.fornamn} #{k.efternamn}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<h2>Avslutade inleveranser</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Påbörjad</th>
        <th>Fakturanr</th>
        <th>Påbörjad av</th>
      </tr>
    </thead>
    <tbody>
      <% @incoming_deliveries_past.each do |d| %>
        <% k = Karnevalist.find(d.karnevalister.first.id) %>
        <tr>
          <td><%= link_to d.created_at.strftime("%Y-%m-%d %H:%M"), incoming_delivery_path(d.id) %></td>
          <td><%= d.invoice_nbr %></td>
          <td><%= "#{k.fornamn} #{k.efternamn}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
