<%= form_for :ticketlisting, url: karneblocket_listings_url do |f| %>
  <fieldset>
    <p>
      <%= f.label :event %><br>
      <%= f.text_field :event %>
    </p>

    <p>
      <%= f.label "Pris" %>
      <%= f.text_field :price %>
    </p>

    <p>
      <%= f.label "Byta eller sälja?" %>
      <table>
        <tr>
          <td><%= f.radio_button :selling, true %></td>
          <td>Säljes</td>
        </tr>
        <tr>
          <td><%= f.radio_button :selling, false %></td>
          <td>Bytes</td>
        </tr>
      </table>
    </p>

    <p>
      <%= f.label "När" %><br>
      <%= f.text_field :when %>
    </p>

    <p>
      <%= f.label "Beskrivning" %><br>
      <%= f.text_area :description %>
    </p>
  </fieldset>

  <p>
    <%= f.submit 'Skapa annons' %>
  </p>
<% end %>
