<%= form_for :listing, url: karneblocket_listings_url do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :event %><br>
    <%= f.text_field %>
  </p>

  <p>
    <%= f.label :when %><br>
    <%= f.text_field %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Skapa annons' %>
  </p>
<% end %>
