<h2>Veckoöversikt</h2>
<% @weeks.each do |w| %>
  <% orders = Order.find_orders_in_week(w, @warehouse_code) %>
  <% incoming_deliveries = IncomingDelivery.find_incoming_deliveries_in_week(w, @warehouse_code) %>
  <% if !orders.blank? || !incoming_deliveries.blank? %>
  <% week = w[:week] %>
    <h3> Vecka <%= week %></h3>
      <div class="row">
        <div class="col-md-6"> 
              <h4>Försäljning</h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Ordernr</th>
                        <th>Summa orderintäkt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% sum_all_orders = 0 %>
                      <% orders.each do |o| %>
                        <tr>
                          <td><%= link_to "#{o.order_number}", order_path(o.id) %></td>
                          <td><%= number_to_currency(o.total_sum) %></td>
                          <% sum_all_orders += o.total_sum %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <p><strong>Intäkt vecka <%= "#{week}: "%></strong><%= number_to_currency(sum_all_orders) %></p>
                </div>
          </div>
          
          <div class="col-md-6"> 
              <h4>Inköp</h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Fakturanr</th>
                        <th>Summa produktkostnad</th>
                        <th>Leveranskostnad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% sum_all_deliveries = 0 %>
                      <% incoming_deliveries.each do |i| %>
                        <tr>
                          <td><%= link_to "#{i.invoice_nbr}", incoming_delivery_path(i.id) %></td>
                          <% incoming_delivery_products = i.incoming_delivery_products %>
                          <% total_price = 0 %>
                          <% incoming_delivery_products.each do |p| %>
                            <% total_price += p.product.total_purchase_price(p.amount) %>
                          <% end %>
                          <td><%= number_to_currency(total_price) %></td>
                          <% sum_all_deliveries += total_price %>
                          <% if !i.delivery_cost.blank? %>
                            <td><%= number_to_currency(i.delivery_cost) %></td>
                            <% sum_all_deliveries += i.delivery_cost %>
                          <% else %>
                            <td></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <p><strong>Utgifter vecka <%= "#{week}: " %></strong><%= number_to_currency(sum_all_deliveries) %></p>
                </div>
          </div>
    </div>

  <% end %>
<% end %>
<% if @warehouse_code == 0 %>
  <%= paginate @weeks %>
<% end %>
