<%= render 'shared/header', :title => 'Accesslista' %>
<div class="white-container col-xs-12">
  <ul>
    <% @roles.each do |r| %>
      <h4 class="fill block"><%= r.name.upcase %></h3>
      <p><i><%= r.description || '[Beskrivning saknas]' %>.</i></p>
      <% if r.users.empty? %>
        <p>Inga innehavare</p>
      <% end %>
      <% r.users.each do |u| %>
        <% k = u.karnevalist %>
        <li>
          <% if k.present? %>
            <strong><%= link_to k.name, k %></strong>
            <%= link_to 'Återta access', karnevalist_roles_path(k, r), {:method => :delete, :class => "red mini button"}%>
          <% else %>
            <strong><%= "[#{u.email}]" %></strong>
            (Snacka med IT)
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <strong>Ge access till någon annan? Börja med att söka upp dem i
    <%= link_to 'Karnevalistan', karnevalister_path %>
  </strong>
</div>
