<%= render 'shared/header', :title => "#{@karnevalist.full_name}: Access" %>

<div class="white-container col-xs-12">
  <h2>Nuvarande access</h2>

  <ul>
    <% @karnevalist.user.roles.each do |r| %>
      <li>
        <strong><%= r.name.upcase %></strong>
        <%= link_to '(Återta)', karnevalist_roles_path(@karnevalist, r), :method => :delete %>
      </li>
    <% end %>
  </ul>

  <h2>Tillgänglig access</h2>

  <ul>
    <% Role.all.reject{ |r| @karnevalist.user.roles.include? r }.each do |r| %>
      <li>
        <%= r.name.upcase %>
        <%= link_to '(Ge)', karnevalist_roles_path(@karnevalist, r), :method => :post %>
      </li>
    <% end %>
  </ul>
</div>

