<%= form_for(@photo, html: { multipart: true }) do |f| %>
  <div class="col-lg-6 col-sm-6 col-12">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default btn-file">
            Välj fil
            <%= f.file_field :image %>
          </span>
          <input type="text" class="form-control" readonly />
        </span>
        <%= f.hidden_field :karnevalist_id, value: current_user.karnevalist.id %>
      </div>
      <div class="form-group">
        <%= f.label :caption %>
        <%= f.text_field :caption, class: "form-control" %>
      </div>
    </div>
  <%= f.submit "Ladda upp bild", class: "green button" %>
  </div>
<% end %>
