<div class="white-container col-xs-12">
  <%= form_for @post do |f| %>
    <fieldset>
      <div class="selection_box">
        <%= f.label :sektion, "Ändra sektion till: " %>
        <% if current_user.is? :admin %>
          <%= f.collection_select :sektion, Sektion.all, :id, :name, :selected => @post_sektion %>
        <% end %>
        <% if current_user.is? :sektionsadmin %>
          <%= f.collection_select :sektion, @tilldelade_sektioner, :id, :name, :selected => @post_sektion %>
        <% end %>
      </div>

      <div class="form_group">
        <%= f.label :title, "Rubrik" %>
        <%= f.text_field :title, placeholder: "Skriv en jättefin rubrik här..." %>
      </div>

      <div class="form_group">
        <%= f.label :title, "Text" %>
        <%= f.text_area :content, placeholder: "Skriv vacker text här..." %>
      </div>
    </fieldset>

  <%= render partial: "shared/markdown_notice" %>
  <%= f.submit "Klar", :class =>"btn"  %>
  <% end %>
</div>
