<div class="message col-xs-12">
  <%= image_tag("logotyper/#{post.sektion.name}.png", class: "img-responsive message-image col-xs-2") unless post.sektion.nil? %>
  <%= image_tag("logotyper/logo.png", class: "img-responsive message-image col-xs-2") if post.sektion.nil? %>
  <div class="message-information col-xs-8">
    <div class="row">
    <h1><%= post.title %></h1>
  </div>
    <div class="row">
      <div class="post-preview"><%= Sanitize.clean((render_markdown (truncate post.content, length: 180)), Sanitize::Config::BASIC).html_safe %>
      </div>
    </div>
    <% unless post.id.nil? %>
      <div class="form-controls">
          <%= link_to "läs mer", post, class: "btn btn-small" %>
          <% if (current_user.can? :edit, post) %>
            <%= link_to "redigera", edit_post_path(post), class: "btn btn-small", type: "edit" %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
