<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<li>
  <span class="title"><%= post.title %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> sedan
  </span>
  <span class="posted_by">
    av <%= "#{post.karnevalist.fornamn} #{post.karnevalist.efternamn}"%>.
  </span>
  <% if current_user.can? :edit, post %>
    <%= link_to "redigera", edit_post_path(post) %>
  <% end %>
</li>
