<div class="message col-xs-12">
  <div class="message-image col-xs-2">
    <%= image_tag("logotyper/#{post.sektion.name}.png") %>
  </div>
  <div class="message-information col-xs-8">
    <div class="row">
    <h1><%= post.title %></h1>
  </div>
    <div class="row">
    <p><%= truncate post.content, length: 180 %></p>
  </div>
    <% unless post.id.nil? %>
      <div class="form-controls">
          <%= link_to "läs mer", post, class: "btn btn-small" %>
          <% if (current_user.can? :edit, post) %>
            <%= link_to "redigera", edit_post_path(post), class: "btn btn-small", type: "edit" %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
