
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Karnevalist - Lagersystem<%= Rails.env.development?? ' (Dev)' : '' %></title>
    <%= stylesheet_link_tag :warehouse, :media => :all %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="<%= Rails.root.join('app', 'assets', 'images', 'favicon.ico') %>">
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45275108-3', 'karnevalist.se');
      ga('send', 'pageview');

    </script>
  </head>
<body>
  <%= render 'layouts/warehouse/header' %>
  <%= render 'layouts/warehouse/sidebar' %>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Lagersystem <%= @warehouse_code == 0 ? "Fabriken" : (@warehouse_code == 1 ? "Festmästeriet" : "Snaxeriet") %></h1>
    <%= yield %>
  </div>
</body>
</html>
