<%= render partial: "shared/header", locals: {title: @image.name} %>
<%= link_to "Tillbaka", 'javascript:history.go(-1);', :class => 'green button' %>
<%= link_to "Radera filen", @image, method: :delete, data: { confirm: "Är du säker på att du vill radera denna fil?" }, :class =>"red button col-md-offset-2", :type => "edit" if current_user.can? :manage, :image %>
<div class="col-xs-12 thumbnail">
  <%= image_tag @image.image_url unless @image.pdf? %>
  <% if @image.pdf? %>
    <%= link_to image_tag(@image.image_url(:pdf_thumb).to_s), @image.image_url.to_s %>
    <h3>Tryck på bilden för att öppna pdf-filen!</h3>
  <% end %>
</div>
