<!DOCTYPE html>
<html lang=sv>
  <head>
    <title>Karnevalist<%= Rails.env.development?? ' (Dev)' : '' %></title>
    <%= stylesheet_link_tag :application, :media => :all, :cache => 'cached/all' %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', :application, :cache => 'cached/all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
